.env
.python-version
.idea/
.tox/
.venv/
build/
data/
dist/
mylearn.egg-info/
**/__pycache__/**
**/.mypy_cache/**
**/.pytest_cache/**

metadata/
mlairflow/dags/
mlruns/
notebooks/
notebooks/.ipynb_checkpoints/

mlairflow/airflow.cfg
mlairflow/airflow.db
mlairflow/airflow-webserver.pid
mlairflow/webserver_config.py
mlairflow/logs
