.env
.python-version
.idea/
.venv/
build/
data/
dist/
mylearn.egg-info/
**/__pycache__/**
**/.mypy_cache/**
**/.pytest_cache/**

airflow/dags/
metadata/
mlruns/
notebooks/.ipynb_checkpoints/

airflow/airflow.cfg
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/webserver_config.py
airflow/logs
